{{/*

	Render a single HTTP API operation: that is, a method+endpoint combination, given:

	* `method`: the method, e.g. GET, PUT
	* `endpoint`: the endpoint
	* `operation_data`: the OpenAPI 3 data for the operation
	* `path`: the path where this definition was found, to enable us to resolve "$ref"

	This template renders the operation as a `<section>` containing:

		* an `<h1>` heading containing the method and endpoint
		* a `<details>` element containing the details, including:
			* operation description
			* basic info about the operation
			* request details
			* response details
	
*/}}
	
{{ $depth := .depth }}
{{ $method := .method }}
{{ $endpoint := .endpoint }}
{{ $operation_data := .operation_data }}
{{ $header := printf "h%v" $depth }}
{{/* no formatting because markdown */}}
<section class="rendered-data http-api {{ $method }}">
<details {{ if not site.Params.ui.rendered_data_collapsed }}open{{ end }}>
<summary>
{{ printf "<%v id=\"%v%v\">" $header (lower $method) (anchorize $endpoint) | safeHTML}}
<span class="http-api-method {{ $method }}">{{ $method }}</span>
<span class="endpoint{{ if $operation_data.Deprecated }} deprecated-inline{{ end }}">{{ $endpoint }}</span>
{{ printf "</%v>" $header | safeHTML}}
<hr/>

{{ if $operation_data.Deprecated }}
	{{ partial "alert" (dict "type" "warning" "omit_title" "true" "content" "This API is deprecated and will be removed from a future release.") }}
{{ end }}

<p>{{ $operation_data.Description | markdownify }}</p>
</summary>

<div class="basic-info">
<div class="bold">Rate-limited:</div>
{{ $rate_limited := index $operation_data.Responses "429" }}
<div>{{ if $rate_limited }}Yes{{ else }}No{{ end }}</div>
<div class="bold">Requires authentication:</div>
<div>{{ if $operation_data.Security }}Yes{{ else }}No{{ end }}</div>
</div>

<hr/>
{{ partial "openapi/render-request"   (dict "depth" $depth "operation_data" $operation_data) }}
<hr/>
{{ partial "openapi/render-responses" (dict "depth" $depth "operation_data" $operation_data) }}
</details>
</section>