{{/*

    Render a table listing the properties of an object, given:
  
    * `caption`: optional caption for the table
    * `properties`: dictionary of the properties to list, each given as:
    `property_name` : `property_data`

  */}}
  
{{ $depth := .depth}}
{{ $visited_schemas := .visited_schemas }}
{{ $header := printf "h%v" (add $depth 2) }}

{{ range $schema_ref, $schema := $visited_schemas }}

{{ printf "<%v class=\"type no-numbers\">%v</%v>" $header (default "<strong>ADD TITLE</strong>" $schema.Title) $header | safeHTML }}

<div class="properties">

<span class="header">Name</span>

<span class="header">Type</span>

<span class="header">Description</span>

    {{ range $property_name, $property := $schema.Properties }}
        {{/*
            If the property has a `title`, use that rather than `type`.
            This means we can write things like `EventFilter` rather than `object`.
        */}}
        {{ $type := $property.Value.Type}}

        {{ if $property.Value.Title }}
            {{ $type = $property.Value.Title }}
        {{ end }}

        {{/*
            Some properties use OneOf, AnyOf, AllOf, and Not.
            TODO: compose a type with all of these
        */}}
        {{ if $property.Value.AllOf }}
            {{ $type = (index $property.Value.AllOf 0).Value.Title}}
        {{ end }}

        {{/*
            If the property is an array, indicate this with square brackets,
            like `[type]`.
        */}}
        {{ if eq $type "array"}}
            {{ $items := $property.Value.Items }}
            {{ $inner_type := $items.Value.Type }}
            {{ if $items.Value.Title }}
                {{ $inner_type = $items.Value.Title }}
            {{ end }}
            {{ $type = delimit (slice "[" $inner_type "]") "" }}
        {{ end }}

        {{/*
            If the property is an enum, indicate this.
        */}}
        {{ if (and (eq $type "string") ($property.Value.Enum)) }}
            {{ $type = "enum" }}
        {{ end }}

        {{/*
            If the property has a format, indicate this.
        */}}
        {{ if (and (eq $type "string") ($property.Value.Format)) }}
            {{ $type = delimit (slice $type "as" $property.Value.Format) " " }}
        {{ end }}

        {{/*
            If the property uses `additionalProperties` to describe its
            internal structure, handle this.
        */}}
        {{ if $property.Value.AdditionalProperties }}
            {{ if $property.Value.AdditionalProperties.Value.Title }}
                {{ $type = delimit (slice "{ string: " $property.Value.AdditionalProperties.Value.Title "}" ) "" }}
            {{ end }}
        {{ end }}

        {{ if not $type }}
            {{ $type = "**ADD TITLE**" }}
        {{ end }}

        {{ $required := in $schema.Required $property_name }}

<code class="nobreak">{{ $property_name }}</code>

<code class="nobreak">{{ $type }}</code>

<div>{{ if $required }}<strong>Required: </strong>{{end}}{{ $property.Value.Description | markdownify }}{{ if eq $type "enum"}}<p>One of: <code>{{ $property.Value.Enum }}</code>.</p>{{ end }}</div>

    {{ end }}
</div>
{{ end }}
