{{/*

    Render the request part of a single HTTP API operation, given:
  
    * `parameters`: OpenAPI 3 data specifying the parameters
  
    This template renders:
    * the "simple parameters" (header, path, query parameters)
    * body parameters, which may be more complex, containing nested objects
    * response body examples
  
  */}}
  
{{ $depth := .depth }}
{{ $operation_data := .operation_data }}
{{ $parameters := .operation_data.Parameters }}
{{ $request_body := .operation_data.RequestBody}}
{{ $header := printf "h%v" (add $depth 1) }}
{{ $header2 := printf "h%v" (add $depth 2) }}

{{ printf "<%v class=\"no-numbers\">Request</%v>" $header $header | safeHTML}}

{{ if $parameters }}
    {{ $simple_parameters := where $parameters ".Value.In" "!=" "body"}}
    {{ if $simple_parameters }}
{{ printf "<%v class=\"no-numbers\">Request Parameters</%v>" $header2 $header2 | safeHTML}}
        {{ partial "openapi/render-endpoint" (dict "depth" $depth "parameters" $simple_parameters) }}
    {{ end }}
{{ else }}
<p>No request parameters.</p>
{{ end }}

<hr/> 

{{ if $request_body }}
{{ printf "<%v class=\"no-numbers\">Request Body</%v>" $header2 $header2 | safeHTML}}
    {{ if index $request_body.Value.Content "application/json" }}
        {{ $schema := index $request_body.Value.Content "application/json" }}
        {{ $schema := $schema.Schema }}
        {{ $out := partial "openapi/visit_schema" (dict "schema" $schema) }}
        {{ $visited_schemas := $out.visited_schemas }}
        {{ $compiled_example := $out.compiled_example }}
        {{ if $visited_schemas}}
            {{ partial "openapi/render-object-table" (dict "visited_schemas" $visited_schemas "depth" $depth) }}
        {{ end }}
        {{ if $compiled_example }}

{{ printf "<%v class=\"no-numbers\">Request Body Example</%v>" $header2 $header2 | safeHTML}}
            {{ $example_json := jsonify (dict "indent" "    ") $compiled_example }}
            {{ $example_json = replace $example_json "\\u003c" "<" }}
            {{ $example_json = replace $example_json "\\u003e" ">" | safeHTML }}
```json
{{ $example_json }}
```
        {{ end }}
    {{ else }}
        {{ partial "alert" (dict "type" "warning" "omit_title" "true" "color" "warning" "content" "Specification error: Example invalid or not present") }}
    {{ end }}
{{ else }}
<p> No request body. </p>
{{ end }}