{{/*
    Render an HTTP API, given:
  
    * `api_data`: the OpenAPI 3 data
    * `server`: the complete endpoint of the server
    * `depth`: the depth to set the <h*> tags for ToC rendering
*/}}

{{ $api_data := index .api_data }}
{{ $server := .server }}
{{ $depth := .depth }}

{{ range $path_name, $path_data := $api_data.Paths }}
    {{ $endpoint := delimit (slice $server $path_name ) "" }}

    {{/* note that a `paths` entry can be a $ref */}}
    {{ $params := dict "endpoint" $endpoint }}
    

    {{ with $path_data.Get }}
        {{ $operation_params := merge $params (dict "depth" $depth "method" "GET" "operation_data" . ) }}
        {{ partial "openapi/render-operation" $operation_params }}
    {{ end }}

    {{ with $path_data.Post }}
        {{ $operation_params := merge $params (dict "depth" $depth "method" "POST" "operation_data" . ) }}
        {{ partial "openapi/render-operation" $operation_params }}
    {{ end }}

    {{ with $path_data.Put }}
        {{ $operation_params := merge $params (dict "depth" $depth "method" "PUT" "operation_data" . ) }}
        {{ partial "openapi/render-operation" $operation_params }}
    {{ end }}

    {{ with $path_data.Delete }}
        {{ $operation_params := merge $params (dict "depth" $depth "method" "DELETE" "operation_data" . ) }}
        {{ partial "openapi/render-operation" $operation_params }}
    {{ end }}
{{ end }}