+++
title = "Federated Manga"
linkTitle = "Federated Manga"

+++

{{< blocks/cover title="The Federated Manga Protocol" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/federated-manga">
		Download <i class="fab fa-github ml-2 "></i>
	</a> -->
	<p class="lead mt-5">Be your own aggregator.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Federated Manga seeks to define a content distribution protocol for a network of manga serving instances, ensuring that users will never have to live in fear of a single large service failing, resulting in extended downtime or major loss of content.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Spec actually exists!" %}}
The Federated Manga Protocol isn't dead!

Please follow this space for updates!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/federated-manga/federated-manga-docs" %}}
We do a [Pull Request](https://github.com/federated-manga/federated-manga-docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="We don't use Twitter!" url="https://lmddgtfy.net/?q=!i%20botnet%20wants%20me%20to%20starve" %}}
I seriously hope you guys don't do this.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fas fa-campground" title="There's nothing on **F-Droid**" %}}
You're way too early.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/federated-manga/federated-manga-docs" %}}
We do a [Pull Request](https://github.com/federated-manga/federated-manga-docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="We don't use Twitter!" url="https://lmgtfy.app/?q=nonfree+javascript&t=i" %}}
For announcement of nothing.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
